apiVersion: v2
name: elastic
description: Elasticsearch provides a full-text search engine with an HTTP web interface and schema-free JSON documents.
icon: https://minio.lab.sspcloud.fr/projet-onyxia/assets/servicesImg/elk.png
keywords:
  - Search
  - Lucene
  - Visualization
home: https://www.elastic.co/
sources:
  - https://github.com/InseeFrLab/helm-charts-databases/tree/master/charts/elastic
  - https://github.com/bitnami/charts/blob/main/bitnami/elasticsearch
# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 2.0.2

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: "8.15.1"
dependencies:
  - name: elasticsearch
    version: 21.3.17
    repository: https://charts.bitnami.com/bitnami
  - name: library-chart
    version: 1.5.25
    repository: https://inseefrlab.github.io/helm-charts-interactive-services
