apiVersion: v2
name: dask
description: Dask is a flexible open-source Python library for parallel computing
icon: https://minio.lab.sspcloud.fr/projet-onyxia/assets/servicesImg/dask.png
home: https://www.dask.org/
sources:
  - https://github.com/InseeFrLab/helm-charts-databases


# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.0.7

dependencies:
  - name: dask
    version: 2024.1.1
    repository: https://helm.dask.org
  - name: library-chart
    version: 1.5.33
    repository: https://inseefrlab.github.io/helm-charts-interactive-services
