apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ include "postgres-cnpg.fullname" . }}
  annotations:
  {{- if .Values.global.suspend }}
    cnpg.io/hibernation: "on"
  {{- else }}
    cnpg.io/hibernation: "off"
  {{- end }}
spec:
  instances: 1
  enablePDB: false
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    name: {{ .Values.imageCatalog.name }}
    major: {{ .Values.imageCatalog.major }}
  storage:
    size: {{ .Values.storage.size }}
  resources:
    {{- toYaml .Values.resources | nindent 4 }}
  enableSuperuserAccess: true
  superuserSecret:
    name: {{ include "postgres-cnpg.fullname" . }}-superuser
  managed:
    roles:
    - name: {{ .Values.auth.username }}
      ensure: present
      login: true
      superuser: false
      passwordSecret:
        name: {{ include "postgres-cnpg.fullname" . }}-user
    services:
      disabledDefaultServices: ["ro", "r"]
