{{- if contains "PASSWORD" .Values.server.config.authenticationType }}
{{- if .Values.security.password -}}
apiVersion: v1
kind: Secret
metadata:
  {{- if and .Values.auth .Values.auth.passwordAuthSecret }}
  name: {{ .Values.auth.passwordAuthSecret }}
  {{- else }}
  name: {{ include "library-chart.fullname" . }}-password-authentication
  {{- end }}
  labels:
    {{- include "library-chart.labels" . | nindent 4 }}
data:
  password.db: {{ htpasswd .Values.security.username .Values.security.password | replace "$2a$" "$2y$" | b64enc }}
  {{- if .Values.auth.groups}}
  group.db: {{ .Values.auth.groups | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
