{{- if .Values.s3.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "library-chart.secretNameCoreSite" . }}
  labels:
    {{- include "library-chart.labels" . | nindent 4 }}
stringData:
  core-site.xml: |
                 <?xml version="1.0"?>
                 <?xml-stylesheet type="text/xsl" href="configuration.xsl"?> 
                 <configuration>     
                 <property>
                     <name>fs.s3a.connection.ssl.enabled</name>"
                     <value>true</value>
                 </property>
                 <property>
                     <name>trino.s3.endpoint</name>
                     <value> {{ .Values.s3.endpoint }}  </value>
                 </property>
                {{- if .Values.s3.sessionToken }}
                 <property>
                     <name>trino.s3.session-token</name>
                     <value> {{ .Values.s3.sessionToken }} </value>
                 </property>
                {{- end }}
                 <property>
                     <name>trino.s3.access-key</name>
                     <value> {{ .Values.s3.accessKeyId }} </value> 
                 </property>
                 <property>
                     <name>trino.s3.secret-key</name>
                     <value> {{ .Values.s3.secretAccessKey }} </value> 
                 </property>
                 </configuration>
{{- end }}
